// Place all the styles related to the Paintings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body h1, h3{
	text-align: center;
}


$stroke_color: #674172;

.index-item {
	display: inline-block;
	float: left;
	margin-right: -3px;
	text-align: center;
	p {
		display: none;
		color: #fff;
		margin-top: -25px;
		font-weight: 800;
		text-shadow: 1px 1px 0 $stroke_color,
				    -1px 1px 0 $stroke_color,
				    1px -1px 0 $stroke_color,
				    -1px -1px 0 $stroke_color,
				    0px 1px 0 $stroke_color,
				    0px -1px 0 $stroke_color,
				    -1px 0px 0 $stroke_color,
				    1px 0px 0 $stroke_color,
				    2px 2px 0 $stroke_color,
				    -2px 2px 0 $stroke_color,
				    2px -2px 0 $stroke_color,
				    -2px -2px 0 $stroke_color,
				    0px 2px 0 $stroke_color,
				    0px -2px 0 $stroke_color,
				    -2px 0px 0 $stroke_color,
				    2px 0px 0 $stroke_color,
				    1px 2px 0 $stroke_color,
				    -1px 2px 0 $stroke_color,
				    1px -2px 0 $stroke_color,
				    -1px -2px 0 $stroke_color,
				    2px 1px 0 $stroke_color,
				    -2px 1px 0 $stroke_color,
				    2px -1px 0 $stroke_color,
				    -2px -1px 0 $stroke_color;
	}
}

ul {
	padding-top: 25px;
	font-size: 1.5em;
}

.show-item {
	text-align: center;
	.panel-body {
		padding: 0px;
	}
	img {
		width: 100%;
	}
	a {
		width: 100px;
	}
}